body {
    font-family: Arial;
    background-color: lightblue;
    text-align: center;
}

h1 {
    color: darkblue;
}

input {
    padding: 10px;
    margin: 5px;
}

button {
    padding: 10px;
    margin: 5px;
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: darkblue;
}

.book {
    background-color: white;
    width: 300px;
    margin: 15px auto;
    padding: 15px;
    border-radius: 10px;
}